#movezone {
    /*background: #ccc;*/
  }

#spaceship {
  bottom:15px;
}

#spaceship, #spaceshipEnemy {
    position: absolute;
    width: 40px;
    height: 65px;
    background: url("blueShooter.png") center center no-repeat;
    background-size: contain;
}

#spaceshipEnemy {
  -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
}

#fire {
    position:absolute;
    bottom:200px;
    right: 10px;
    display:block;
    background:#ccc;
    width:70px;
    height:70px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    border-radius:35px;
    opacity:0.5;
}

#pageone {
  position:absolute;
  bottom:20px;
  height: 150px;
                            width: 100%;
}

#enemyWrapper {
  position:absolute;
  top:20px;
  height: 150px;
                            width: 100%;
}

#movezone, #movezoneEnemy {
    /*border: 1px dashed #fff;*/
    margin:0;
  /*bottom:0;*/
  position: relative;
  width : 100%;
  height: 100%;
  /*border: 5px solid #CCC;*/
  /*border-radius: 10px;*/
}

#Bullet {
    position: absolute;
    display: none;
}


#debugClass {
  position:absolute;
  bottom:50%;
  color:#fff;
}


#PlayerParent
{

}
