<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>

    <!--NO CACHE-->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>

    <!-- MOBILE DEVICE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="bg.css">


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>
  <body>

    <div id="enemyWrapper">
        <div id="movezoneEnemy">
          <div id="spaceshipEnemy" ></div>
        </div>
    </div>

    <% if(typeof(user) == 'undefined' ) { %>
      <script type="text/javascript">
        alert("user object was not transferred to this template")
        //window.location = '/dashboard';
      </script>
    <% } %>

      <!-- UNIVERSE -->
      <!--<div id='stars'></div>-->
      <!--<div id='stars2'></div>-->
      <!--<div id='stars3'></div>-->
      <div id="fire"></div>
      <!-- SPACE SHIP -->
      <div id="pageone">
          <div id="movezone">
            <div id="spaceship" ></div>
          </div>
      </div>

      <!-- TUCHED EVENT REGISTERING -->
      <pre id="output"></pre>

      <!-- refreshing everywhere-->
      <p id="files"></p>

      <script type="text/javascript">
          var seconds = new Date().getTime() / 1000;
          var seconds_d = Math.floor(seconds)
          var version = '?version=';
          var style_css = `<link rel="stylesheet" type="text/css" href="style.css${version}${seconds_d}">`

          var p_style = document.getElementById('files');
          p_style.innerHTML = style_css;
      </script>


      <!--<span class="outputTouched" >v.0.0003</span>-->
<script type="text/javascript">
var socket = io.connect();
// self invocing function starts


// taking dimensions of the window
var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    window_x = w.innerWidth || e.clientWidth || g.clientWidth,
    window_y = w.innerHeight|| e.clientHeight|| g.clientHeight;

var spaceshipEnemy   = document.querySelector('#spaceshipEnemy');

var spaceship   = document.querySelector('#spaceship');
var movezone = document.querySelector('#movezone');
var output = document.querySelector('#output');
var pageone = document.querySelector('#pageone');

    pageone.style.width = window_x+'px';
    movezone.style.width = window_x-10+"px";
    // spaceship.style.left = window_x/2+"px";

var maxX = movezone.clientHeight - spaceship.clientWidth;
var maxY = movezone.clientHeight - spaceship.clientWidth;

spaceship.style.left = window_x/2 - 30 + "px"
spaceship.style.top = movezone.offsetHeight/2 + 30 + "px"

var topFire, leftFire;
function handleOrientation(event) {
    var x = event.beta;  // In degree in the range [-180,180]
    var y = event.gamma * 3; // In degree in the range [-90,90]

    // output.innerHTML  = "beta : " + x + "\n";
    // output.innerHTML += "gamma: " + y + "\n";



    // Because we don't want to have the device upside down
    // We constrain the x value to the range [-90,90]
    // if (x >  90) { x =  90};
    // if (x < -90) { x = -90};


    // To make computation easier we shift the range of
    // x and y to [0,180]
    // x += 90;
    y += 90;

    // 30 is half the size of the spaceship
    // -90 = 0      => -90/2 + 45 = 0
    // 0 = 45       =>  x + 45  = 45
    // 90 = 90      =>  90/2  + 45 = 90
    // It center the positioning point to the center of the spaceship
    var top = Math.abs(x/2 + 45); //
    // var top =  ( Math.abs(maxY*x/180) - 30 ); //
    var left = (Math.abs(maxX*y/180) - 30 );
    if(top < 0 || left < 0) {
        top = Math.abs(top);
        left = Math.abs(left);
    }

    if (top > 90) { top = 90};
    if (left > (window_x - 30) )  { left = window_x - 40};
    // output.innerHTML += "top: " + top + "\n";
    topFire = top;
    leftFire = left;

    // output.innerHTML += "top: " + top + "\n";
    // output.innerHTML += "left: " + left + "\n";

    spaceship.style.top  = top + "px";
    spaceship.style.left = left + "px";

}




window.addEventListener('deviceorientation', handleOrientation);

//---------------
// SOCKETS STUFF
//---------------
    function updateShipCoordinates(){
        socket.emit('gameCoordinateChange',{
          <% if(typeof(user) != 'undefined' ) { %>
            left: spaceship.offsetLeft,
            top: spaceship.offsetTop,
            id: "<%= user.id %>"
            <% } %>
          })
    }

    // receiving data of updated coordinates of ENEMY SHIP
    var fightChannelId = "fightChannelId" + "<%= user.id %>";
    socket.on(fightChannelId, function(data){
      console.log("data from server sockets about updating cordinates:")
      console.dir(data);
      spaceshipEnemy.style.right = data.left + "px";
      spaceshipEnemy.style.bottom = data.top + "px";
    })


    setInterval(updateShipCoordinates, 100);

//---------------------
// Touch stuff:
//---------------------
var fire   = document.querySelector('#fire');

fire.addEventListener('touchstart', function() {
    var seconds = new Date().getTime();
    var seconds_d = Math.floor(seconds);
    leftFire = leftFire + 30;
    topFire = window_y - (150 - topFire);
    var bullet = `
           <div id="bullet${seconds_d}">
           <svg width="${window_x}" height="${window_y}"
           style="position:absolute; top:0;left:0">
           <circle id="orange-circle${seconds_d}" r="5" cx="${leftFire}" cy="${topFire}" fill="orange" />
           <animate
           xlink:href="#orange-circle${seconds_d}"
           attributeName="cy"
           from="${topFire}"
           to="-20"
           dur="2s"
           begin="0s"
           repeatCount="1"
           fill="freeze"
           id="circ-anim"/>
           </div>
        `
    // the user touched the screen!
    $('body').prepend(bullet);
    setTimeout(function () {
        var element = document.getElementById(`bullet${seconds_d}`);
        element.outerHTML = "";
        delete element;
    },2000)

});


  $( document ).ready(function() {
      $("#fire").on("tap",function(){
      });
  });


// self invocing function ends
</script>

      <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
      <!--<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->

  </body>
</html>
