/*============reset ===========*/
html, body, ul, ol, li, form, fieldset, legend
{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td
{
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

input, textarea, select
{
    font-size: 110%;
    line-height: 1.1;
}

abbr, acronym
{
    border-bottom: .1em dotted;
    cursor: help;
}
/*===================*/

body {
	position: relative;
	height:auto;
    color:#fff;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#movezone {
    /*background: #ccc;*/
  }
#spaceship, #spaceshipEnemy {
    position: absolute;
    /*top: 125px;*/
    /*margin-left:-50px;*/
    width: 60px;
    height: 60px;
    /*background: #000 ;*/
    background: url("plane.png") center center no-repeat;
    background-size: contain;
}

#spaceshipEnemy {
  -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
}

#fire {
    position:absolute;
    bottom:200px;
    right: 10px;
    display:block;
    background:#ccc;
    width:70px;
    height:70px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    border-radius:35px;
    opacity:0.5;
}

#pageone {
  position:absolute;
  bottom:20px;
  height: 150px;
                            width: 100%;
}

#enemyWrapper {
  position:absolute;
  top:20px;
  height: 150px;
                            width: 100%;
}

#movezone, #movezoneEnemy {
    /*border: 1px dashed #fff;*/
    margin:0;
  /*bottom:0;*/
  position: relative;
  width : 100%;
  height: 100%;
  /*border: 5px solid #CCC;*/
  /*border-radius: 10px;*/
}


svg:not(:root) {
    display: block
}
.playable-code {
    background-color: #f4f7f8;
    border: none;
    border-left: 6px solid #558abb;
    border-width: medium medium medium 6px;
    color: #4d4e53;
    height: 100px;
    width: 90%;
    padding: 10px 10px 0
}
.playable-canvas {
    border: 1px solid #4d4e53;
    border-radius: 2px
}
.playable-buttons {
    text-align: right;
    width: 90%;
    padding: 5px 10px 5px 26px
}

.outputTouched, .output {

}
